.mercury
{
    background-color: rgb(18, 136, 176);
}
.venus
{
    background-color: aquamarine;
    
} 
.earth 
{
    background-color: lightblue;
} 
.mars
{
    background-color: red;
} 
.jupiter 
{
    background-color: orange;
}
.saturn 
{
    background-color: rgb(192, 117, 117);
}
.uranus 
{
    background-color:cadetblue ;
}
.nepturne
{
    background-color:rgb(175, 160, 142);
}